body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

span {
    color: orange;
}

h1 {
    font-size: 50px;
}

section {
    display: flex;
    padding: 20px;
}

.half-width {
    width: 50%;
    padding: 30px;
    margin-left: 30px;
}

.half-width img {
    width: 100%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(rgb(214, 91, 19), orange, rgb(214, 91, 19));
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.dream-big {
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}